
<div class="pagination-controls">
    <button mat-icon-button (click)="prevPag()" [disabled]="currentPage === 1"><mat-icon>arrow_back</mat-icon></button>
    <button mat-icon-button *ngFor="let page of getPages()" 
            (click)="loadEpisodes(page)" 
            [disabled]="page === currentPage">
      {{ page }}
    </button>
    <button mat-icon-button (click)="postPag()" [disabled]="currentPage === totalPages"><mat-icon>arrow_forward</mat-icon></button>
</div>


<div class="filter-options">
  <h3>Filtros</h3>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="filters.name" (ngModelChange)="applyFilters()">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Season</mat-label>
      <mat-select [(value)]="selectedSeason" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let sea of seaOptions" [value]="sea">{{ sea }}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Episode</mat-label>
      <mat-select [(value)]="selectedCap" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let cap of capOptions" [value]="cap">{{ cap }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>


<mat-card class="episode-card">
    <mat-card-header>
      <mat-card-title>Episodes</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <table mat-table [dataSource]="episodes" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let episode">{{ episode.id }}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let episode">{{ episode.name }}</td>
        </ng-container>
  
        <!-- Air Date Column -->
        <ng-container matColumnDef="air_date">
          <th mat-header-cell *matHeaderCellDef>Air Date</th>
          <td mat-cell *matCellDef="let episode">{{ episode.air_date }}</td>
        </ng-container>
  
        <!-- Episode Column -->
        <ng-container matColumnDef="episode">
          <th mat-header-cell *matHeaderCellDef>Episode</th>
          <td mat-cell *matCellDef="let episode">{{ episode.episode }}</td>
        </ng-container>
  
        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let episode">
            <button mat-raised-button color="primary" (click)="saveEpisodeId(episode.id)">
              Ver detalles
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  
<div class="pagination-controls">
    <button mat-icon-button (click)="prevPag()" [disabled]="currentPage === 1"><mat-icon>arrow_back</mat-icon></button>
    <button mat-icon-button *ngFor="let page of getPages()" 
            (click)="loadEpisodes(page)" 
            [disabled]="page === currentPage">
      {{ page }}
    </button>
    <button mat-icon-button (click)="postPag()" [disabled]="currentPage === totalPages"><mat-icon>arrow_forward</mat-icon></button>
</div>

