
<div class="pagination-controls">
    <button mat-icon-button (click)="prevPag()" [disabled]="currentPage === 1"><mat-icon>arrow_back</mat-icon></button>
    <button mat-icon-button *ngFor="let page of getPages()" 
            (click)="loadCharacters2(page)" 
            [disabled]="page === currentPage">
      {{ page }}
    </button>
    <button mat-icon-button (click)="postPag()" [disabled]="currentPage === totalPages"><mat-icon>arrow_forward</mat-icon></button>
</div>

<div class="filter-options">
  <h3>Filtros</h3>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="filters.name" (ngModelChange)="applyFilters()">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [(value)]="selectedStatus" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select [(value)]="selectedGender" (selectionChange)="applyFilters()">
        <mat-option *ngFor="let gender of genderOptions" [value]="gender">{{ gender }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

  <mat-grid-list cols="3" gutterSize="10px" rowHeight="1:1">
    <mat-grid-tile *ngFor="let character of characters">
      <mat-card>
        <img mat-card-image [src]="character.image" alt="{{character.name}}">
        <div class="info">
            <mat-card-content>
                <h2>{{character.name}}</h2>
                <p><strong>Status:</strong> {{character.status}}</p>
                <p><strong>Species:</strong> {{character.species}}</p>
                <p><strong>Gender:</strong> {{character.gender}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" [routerLink]="">Ver Más</button>
            </mat-card-actions>
        </div>
        
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


  <div class="pagination-controls">
    <button mat-icon-button (click)="prevPag()" [disabled]="currentPage === 1"><mat-icon>arrow_back</mat-icon></button>
    <button mat-icon-button *ngFor="let page of getPages()" 
            (click)="loadCharacters(page)" 
            [disabled]="page === currentPage">
      {{ page }}
    </button>
    <button mat-icon-button (click)="postPag()" [disabled]="currentPage === totalPages"><mat-icon>arrow_forward</mat-icon></button>
</div>
