<mat-toolbar color="primary" class="toolbar">
    <span class="logo">Wiki Rick and Morty</span>
    <span class="spacer"></span>
    <nav class="nav-links">
      <a mat-button routerLink="/">Inicio</a>
    </nav>
    <nav class="nav-links2">
        <button mat-button [matMenuTriggerFor]="menu">
            Menú
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-button routerLink="/">Inicio</button>
        </mat-menu>
    </nav>
</mat-toolbar>