.Seleccion {
    display: flex;
    justify-content: center;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.filtradores{
  display: flex;
  justify-items:flex-start;
}

  .mat-mdc-button-disabled{
    background-color: #a9a9a9;
    cursor: not-allowed;
  }
  
  mat-grid-list {
    width: 100%;
    margin: 20px 0;
  }
  
  mat-grid-tile {
    mat-card {
        align-items: center;
      background-color: #777777; 
      color: #f5f5f5; 
      border-radius: 10px;
      transition: transform 0.3s, box-shadow 0.3s;
      width: 90%;
      height: 90%;
  
      img {
        width: 50%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
        margin-top: 15px;
  
        &:hover {
          transform: scale(1.1);
        }
      }
  
      div {
        display: flex;
        justify-content: center;
      }
      mat-card-content {
        justify-content: center;
        padding: 15px;
  
        h2 {
          font-size: 1.5rem;
          color: #089b82; /* Blue color for the name */
          margin-bottom: 10px;
        }
  
        p {
          font-size: 1rem;
          color: #e0e0e0; /* Slightly darker color for text */
          margin: 5px 0;
  
          strong {
            color: #089b82; /* Blue color for the labels */
          }
        }
      }
    }
  }

  .filter-options {
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    color: white;

    h3 {
      display: flex;
      justify-content: center;
      align-content: center;
    }
    div {
      display: flex;
      align-content: center;
    }
    mat-form-field{
      margin: 1%;
    }
  }
  
  .filter-options mat-form-field {
    width: 45%;
    color: white;
  }
  
  .filter-options mat-form-field .mat-form-field-label {
    color: #fff;
    padding: auto;
  }

  mat-form-field {
    flex: 1 1 auto;
    margin-right: 10px;
    margin-bottom: 0;
  }
  
  .filter-options mat-select {
    color: white;
  }
  
  .filter-options mat-select .mat-select-arrow {
    color: white;
  }


  .episode-card {
    margin: 20px;
    padding: 20px;
  }
  
  table {
    width: 100%;
  }
  
  th.mat-header-cell, td.mat-cell {
    padding: 8px;
    text-align: left;
  }
  
  button {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .pagination-controls button {
    background-color: #3dacb4;
    color: white;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .pagination-controls button[disabled] {
    background-color: #a9a9a9;
    cursor: not-allowed;
  }
  
  .pagination-controls button:not([disabled]):hover {
    background-color: #317d83;
  }

  .mat-mdc-button-disabled{
    background-color: #a9a9a9;
    cursor: not-allowed;
  }

  
  mat-card-title {
    color: white;
  }

  .character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  .character-card {
    margin: 10px;
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 1200px) {
    .character-grid {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }
  
  @media (max-width: 900px) {
    .character-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 600px) {
    .character-grid {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }
  